.shop_page {
  padding: 120px 0;
  background: var(--yellow);
}

.shop_page h4 {
  font-size: 2rem;
  color: var(--bg-coffee);
}

.shop_page h2 {
  font-size: 3.5rem;
  color: var(--bg-coffee);
}

.shop_page p {
  color: var(--bg-coffee);
  margin-bottom: 30px;
}

.shop_page .store {
  max-width: 45%;
}